extends ../layouts/layout

block content
  form(action='/users/edit/'+ user._id, method='POST' enctype="multipart/form-data")

    label(for='name') Name
    input#name(type='text' name='name' value= user.name)

    label(for='email') Email
    input#email(type='text' name='email' value= user.email)

    label(for='phone') Phone
    input#phone(type='text' name='phone' value= user.phone)

    label(for='password') Password
    input#password(type='password' name='password' value= user.password)

    label(for='address') Address
    input#address(type='text' name='address' value= user.address)

    labe(for='avatar-url') Avatar
    input#avatar-url(type="file", name='avatarUrl' value= user.avatarUrl)

    button(type="submit") Edit 
